set_io reset    18

set_io CLK      35

set_io LCD_CLK  32
set_io LCD_HYNC 28
set_io LCD_SYNC 26
set_io LCD_DEN  23

set_io LCD_R[0] 46
set_io LCD_R[1] 44
set_io LCD_R[2] 42
set_io LCD_R[3] 37
set_io LCD_R[4] 48

set_io LCD_G[0] 45
set_io LCD_G[1] 43
set_io LCD_G[2] 38
set_io LCD_G[3] 36
set_io LCD_G[4] 47
set_io LCD_G[5] 2

set_io LCD_B[0] 3
set_io LCD_B[1] 34
set_io LCD_B[2] 31
set_io LCD_B[3] 27
set_io LCD_B[4] 25

