[submodule "src/advanced/up5k_6502"]
	path = src/advanced/up5k_6502
	url = https://github.com/wuxx/up5k_6502.git
[submodule "src/advanced/litex-buildenv"]
	path = src/advanced/litex-buildenv
	url = https://github.com/wuxx/litex-buildenv.git
[submodule "src/advanced/usb"]
	path = src/advanced/usb
	url = https://github.com/wuxx/up5k.git
[submodule "src/advanced/up5k-demos"]
	path = src/advanced/up5k-demos
	url = https://github.com/wuxx/up5k-demos.git
[submodule "src/advanced/VexRiscv"]
	path = src/advanced/VexRiscv
	url = https://github.com/wuxx/VexRiscv.git
[submodule "src/advanced/iceZ0mb1e"]
	path = src/advanced/iceZ0mb1e
	url = https://github.com/wuxx/iceZ0mb1e.git
