set_io TXD          6
set_io RXD          4
set_io clk          35
set_io resetq       18

# LEDs (PMOD 3)
set_io LED0         32
set_io LED1         28
set_io LED2         26
set_io LED3         23
set_io LED4         34

# PMOD OLED module (PMOD 2)
set_io PMOD_CS      46
set_io PMOD_SDIN    44
set_io PMOD_SCLK    37
set_io PMOD_DC      45
set_io PMOD_RES     43
set_io PMOD_VBATC   38
set_io PMOD_VDDC    36

